.cand-cont{
  margin-top: 90px;
  width: 60%;
  margin-left: 20%;
  border-radius: 10px;
  box-decoration-break: clone;
  text-align: center;

}

.cand-cont strong{
  font-size: 40px;
  color: #FAEE46;
}


/*------------------*/
/* Style général du conteneur du formulaire */
.form-container {
    background-color: #fff;
    padding: 24px;
    border-radius: 8px;
    border: none;
    box-shadow: 0 1px 6px rgba(60, 64, 67, 0.3);
    width: 100%;
    max-width: 640px;
    margin: 20px auto;
}

/* Style des lignes du formulaire */
.form-row {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

/* Style des groupes de formulaire */
.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.large-input {
  font-size: 16px;
  padding: 10px 15px;
  border: 1px solid #dfe1e5;
  border-radius: 4px;
}

.birthdate-input {
  width: 100%;
  margin-top: 8px;
}

.choice-section {
  margin-top: 16px;
}
  
  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    
  }
  h2{
    text-align: center;
  }


  
  
  label {
    display: block;

    font-weight: bold;
    margin: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="number"],
  textarea,
  input[type="file"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 10px;
  }
  
  button {
 
   
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #4cae4c;
  }

  /* Styles pour la première carte */
.work-experience-card {
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styles pour la deuxième carte */
.skills-card {
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}


.radio-group {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.radio-group label {
  text-align: center;
  width: 50%;
}




/* 
.choice-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
}

.large-input {
  margin-top: 5px;
  width: 200px; 
 */
